body {
  background-color: black;
}
.top {
  overflow: hidden;
  background: -webkit-linear-gradient(left, #fcb1ab, #a2e2c7);
  height: 55px;
  box-shadow: 0px 6px 20px 0px rgb(173 216 230/ 50%);
  border-bottom: 3px solid lightcoral;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.top > .top_ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
  font-size: 16px;
}

.top > .title {
  position: absolute;
  top: 10px;
  text-shadow: 0 0 20px white;
  left: 30px;
  color: white;
}

.user_handler {
  width: 45px;
  height: 45px;
  border-radius: 999px;
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  background: url('../img/illust_66773763_20210501_070419.jpg') no-repeat center;
  background-size: cover;
  cursor: pointer;
}

.triangle {
  width: 1px;
  height: 25px;
  line-height: 0;
  font-size: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid lightcoral;
  position: absolute;
  left: 25%;
  top: 10px;
}

article {
  background: -webkit-linear-gradient(top, black, #ffffff 50%);
  width: 90%;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  margin-top: 6%;
  border-radius: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
}

article > .carousel {
  height: 340px;
  margin-top: 3%;
  margin-left: 2%;
  width: 70%;
  display: inline-block;
}


.schedule {
  width: 20%;
  height: 340px;
  background: white;
  float: right;
  display: inline-block;
  margin-right: 23px;
  margin-top: 36px;
  border-radius: 20px;
  border: 3px solid orange;
  box-sizing: border-box;
}

.schedule > ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.schedule > ul > li {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  transition: all 0.3s;
}

.schedule > ul > li:hover {
  text-shadow: 0px 0px 20px black;
  transform: translateY(-3px);
}

.schedule > ul > li:nth-of-type(1) {
  width: 100%;
  font-size: 26px;
}

.schedule > ul > li:nth-of-type(n + 2) {
  width: 50%;
}

.solid {
  width: 20px;
  height: 20px;
  display: inline-block;
  /* background-color: rebeccapurple; */
}

#input_search {
  width: 90%;
  height: 40px;
  border-radius: 30px;
  text-align: center;
  outline: 0;
  border: 2px solid skyblue;
  transition: all 0.1s;
  margin-top: 5px;
  vertical-align: bottom;
}

#input_search:focus {
  border: 2px solid orange;
  font-size: 16px;
}

#input_button {
  width: 7%;
  height: 40px;
  border-radius: 20px;
  border: 0px;
  background: orange;
  font-weight: 700;
  box-shadow: 0px 0px 16px 0px rgb(255 165 0 / 90%);
  color: white;
}

.body {
  /* background: lightblue; */
  margin-top: 30px;
  display: flex;
  background: -webkit-linear-gradient(top, rgba(255, 192, 203, 0) 0, skyblue 20%);
}

.body > .active {
  background: -webkit-linear-gradient(top, rgba(255, 192, 203, 0) 0, pink 20%);
  width: 70%;
}

.body > .active > div {
  width: 75%;
  margin: 0 auto;
  height: 263px;
  border-radius: 20px;
  background: white;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 10px 10px 1px rgb(0 0 0 / 30%);
}

.body > .active > div::after {
  letter-spacing: 4px;
  content: attr(active_hot_text);
  width: 100%;
  height: 100%;
  background: #ffffff;
  color: #333333;
  position: absolute;
  font-size: 26px;
  left: 0;
  display: inline-flex;
  transform: inherit;
  z-index: -1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.clean_index::after{
  z-index: 0 !important;
}

.run_anmiation{
  transform: translateY(-10px) !important;
  transform: rotate3d(0, 1, 0, 180deg) !important;
}

.body > .active > div:hover {
  box-shadow: 0px 12px 20px 2px rgb(0 0 0 / 30%) !important;
  transform: translateY(-10px);
}

.body > .active > div > .img {
  width: 35%;
  background: antiquewhite;
  height: 100%;
  display: inline-block;
  background-size: cover;
}

.body > .active > div > .title {
  width: 64%;
  /* background: skyblue; */
  cursor:pointer;
  height: 100%;
  display: inline-block;
  position: relative;
}

.body > .active > div > .title > h1 {
  width: 96%;
  position: absolute;
  text-overflow: ellipsis;
  top: 10px;
  left: 5px;
  font-size: 24px;
  overflow: hidden;
  color: #333333;
  text-align: center;
}

.body > .active > div > .good_active {
  position: absolute;
  top: 197px;
  right: 10px;
  font-size: 18px;
}

.body > .active > div > .bottom_change {
  width: 100%;
  height: 35px;
  background: white;
  border-top: 1px solid gray;
  bottom: 0;
  position: absolute;
}

.body > .active > div > .bottom_change > ul {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  line-height: 35px;
  justify-content: space-around;
  color: #333333;
}

.body > .hot_message {
  /* background-color: green; */
  width: 30%;
  position: relative;
  overflow: hidden;
}

.body > .hot_message > div:nth-of-type(1) {
  width: 80%;
  height: 14%;
  background: white;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  box-shadow: 10px 10px -4px rgb(0 0 0 / 30%);
}

.body > .hot_message > div:nth-of-type(1)>.nav {
  height: 10%;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  color: #ffa500;
  align-items: center;
  border-bottom: 1px solid;
  justify-content: center;
}

.body > .hot_message > div:nth-of-type(1)>ul{
  height: 90%;
  padding-left: 5%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  justify-content: space-around;
}

.body > .hot_message > div:nth-of-type(1)>ul>li{
  width: 100%;
  position: relative;
}

.body > .hot_message > div:nth-of-type(1)>ul>li>p{
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .3s;
}

.body > .hot_message > div:nth-of-type(1)>ul>li>p:hover{
  color: peru;
  cursor: pointer;
}

.body > .hot_message > div:nth-of-type(1)>ul>li::after{
  content: "-- HOT";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -3%;
  color: #ff0000;
  font-size: 10px;
}

.body > .hot_message > div:nth-of-type(2) {
  width: 80%;
  /* height: 7%; */
  background: white;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  font-size: 26px;
  text-align: center;
  line-height: 106px;
  overflow: hidden;
  box-shadow: 10px 10px 10px -4px rgb(0 0 0 / 30%);
}

.body > .hot_message > div:nth-of-type(2) > button {
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 46px;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 40%;
  border: 1px solid orange;
  background: orange;
  font-weight: 600;
  box-shadow: 0px -6px 6px 0px rgb(255 165 0 / 50%);
  font-size: 16px;
  color: white;
}

#delete_text{
  position: absolute;
  left: 50%;
  width: 500px;
  transform: translateX(-40%);
  height: 1.5%;
  /* background-color: pink; */
}

#delete_text > .text{
  margin-right: 5px;
  color: white;
  text-shadow: 0 0 6px #00b0ff;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

#delete_text > .delete{
 border-right: 2px solid black;
 animation: blingbling 1s step-end infinite;
 font-size: 1.2rem;
}

@keyframes blingbling{
  /*设置开始及结束时的样式*/
     from,to{
          border-color: transparent;
     }
  /*设置中间时刻的样式*/
     50%{
          border-color: white;
      }
}










































/* 修改浏览器的滚动条 */

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: crimson;
}
