.swiper {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px;
  --swiper-theme-color: #ff6600;/* 设置Swiper风格 */
  --swiper-preloader-color: #ffc0cb;/* 单独设置预加载圆圈的颜色 */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}